@use 'src/shared/view/styles/themes';
@use 'src/shared/view/styles/colors';
@use 'src/shared/view/styles/hover';
@use 'src/shared/view/styles/responsive' as R;
@use 'src/shared/view/styles/variables' as V;
@use 'src/shared/view/styles/devices' as D;

.root {
  display: flex;

  margin-bottom: R.rem(24px);

  @include D.mobile {
    flex-direction: column;
    max-width: R.rem(600px);
    margin: 0 auto;
  }

  @include D.desktop {
    margin-bottom: R.rem(120px);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: R.rem(36px);

  font-size: R.rem(20px);
  font-weight: 400;
  line-height: R.rem(28px);
  letter-spacing: R.rem(0.5px);

  @include D.mobile {
    margin-bottom: R.rem(36px);
  }

  @include D.desktop {
    gap: R.rem(40);

    font-size: R.rem(28px);
    line-height: R.rem(38px);
    letter-spacing: R.rem(1px);

    max-width: R.rem(880px);
  }
}

.description {
  @include D.mobile {
    text-align: center;
  }

  @include D.desktop {
    max-width: R.rem(700px);
  }
}

.text {
  margin: 0;
}

.support-project {
  @include D.desktop {
    max-width: R.rem(460px);
  }
}

.support-project-title {
  margin-bottom: R.rem(24px);

  @include D.tablet {
    text-align: center;
  }

  @include D.desktop {
    margin-bottom: R.rem(20px);
  }
}

.donate {
  display: flex;
  flex-direction: column;
}

.wallets-title {
  margin-bottom: R.rem(12px);

  @include D.desktop {
    margin-bottom: R.rem(8px);
  }

}

.wallets-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.icon {
  @include D.mobile {
    display: flex;
    justify-content: center;
  }

  @include D.desktop {
    position: absolute;
    right: R.vw(120px);
    top: R.rem(160px);
  }
}
