@use 'src/shared/view/styles/colors';
@use 'src/shared/view/styles/themes';
@use 'src/shared/view/styles/typography';

.icons-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;

  padding: 32px;
  row-gap: 20px;

  @include themes.theme {
    color: themes.global('secondaryColor');
  }
}

.icon-block {
  width: 150px;

  text-align: center;
}

.label {
  text-align: center;

  font-size: 13px;

  @include themes.theme {
    color: themes.global('secondaryColor');
  }
}

.link {
  padding: 0;

  cursor: pointer;

  color: #0083ff;
  border: none;
  background: none;
}

.props-list {
  margin-top: 0.3em;

  font-size: 0.9em;
}

.prop-name {
  padding: 1px 3px;

  border-radius: 3px;

  font-family: monospace;
  line-height: 1.5;

  @include themes.theme {
    border: 1px solid themes.themed(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2));
    background-color: themes.themed(rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.08));
  }
}
