@use 'sass:math';
@use 'src/shared/view/styles/themes';
@use 'src/shared/view/styles/responsive' as R;
@use 'src/shared/view/styles/variables' as V;
@use 'src/shared/view/styles/devices' as D;

$desktop-title-font-size: 80px;
$mobile-title-font-size: 34px;

.root {
  position: relative;
  z-index: 1;

  padding: 0 R.rem(36px);

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  @include D.desktop {
    overflow: hidden;
    height: 100%;
  }

  @include D.mobile {
    padding: 0;
    gap: R.rem(32px);
  }
}

.socials {
  @include D.desktop {
    position: absolute;
    left: R.rem(36px);
    top: R.rem(36px);

    z-index: 10;
  }
}

.title-wrapper {
  position: relative;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: R.rem(48px);

  gap: R.rem(36px);

  width: 100%;

  @include D.desktop-max-height {
    margin-top: R.vh(48px);
    gap: R.vh(32px);
  }

  @include D.mobile {
    padding: 0;
    gap: R.rem(16px);
  }
}

.title {
  margin: 0 auto;
  max-width: R.rem(780);

  font-size: R.rem($desktop-title-font-size);
  line-height: 110%;
  font-weight: 400;
  text-align: center;

  &.small {
    font-size: R.rem(64px);
  }

  @include D.mobile-tablet {
    font-size: R.vmin($mobile-title-font-size);

    &.small {
      font-size: R.vmin($mobile-title-font-size);
    }
  }

  @include D.desktop-max-height {
    font-size: R.vh(72px);
    max-width: R.vh(780);
  }
}

.speedometer {
  position: absolute;
  right: R.rem(36px);
  bottom: R.rem(36px);
}

.policeman {
  @include D.desktop {
    position: absolute;
    left: R.rem(16px);
    bottom: 0;
  }

  @include D.mobile {
    margin-bottom: R.rem(100px);
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;

  padding: R.rem(36px) R.rem(24px);
  margin: 0;

  display: flex;
  justify-content: center;
  width: 100%;

  @include D.mobile {
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: R.rem(8px);

    padding: R.rem(24px) R.rem(20px);

    @include themes.theme {
      background: themes.global('primaryColor');
    }
  }
}

.copyright {
  font-size: R.rem(14px);
  line-height: R.rem(20px);
  letter-spacing: R.rem(1px);
  font-weight: 400;

  text-transform: uppercase;

  @include D.desktop {
    position: absolute;
    top: R.rem(36px);
    right: R.rem(36px);

    font-size: R.rem(18px);

    text-align: right;

    transform: translate(100%, 0) rotate(90deg);
    transform-origin: left top;
  }
}
