@use 'src/shared/view/styles/colors';
@use 'src/shared/view/styles/themes';
@use 'src/shared/view/styles/webkit-scrollbar' as S;
@use 'src/shared/view/styles/devices' as D;
@use 'src/shared/view/styles/responsive' as R;

.root {
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: R.rem(16px) R.rem(20);

  @include themes.theme {
    background-color: themes.global('primaryColor');
  }
}

.close-button {
  display: flex;

  min-width: auto;
  height: fit-content;

  cursor: pointer;

  @include themes.theme {
    color: themes.global('secondaryColor');
  }
}

.paper {
  @include S.scrollbar-hidden;

  width: 100%;

  @include themes.theme {
    background: themes.global('primaryColor');
  }
}

.content {
  padding: R.rem(40px + 64px) R.rem(20px) R.rem(40px);
}

.nav-list {
  margin-bottom: R.rem(32px);
}

.list {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  gap: R.rem(24px);
}

.nav-link {
  display: inline-block;

  font-size: R.rem(40px);
  font-weight: 400;
  line-height: R.rem(48px);

  text-transform: uppercase;

  &.active {
    font-weight: 500;
  }

  @include themes.theme {
    color: themes.global('secondaryColor');
  }
}

.settings {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  gap: R.rem(8px);

  @include themes.theme {
    border-top: 1px solid themes.global('secondaryColor');
    border-bottom: 1px solid themes.global('secondaryColor');
  }

  padding: R.rem(24px) 0;
}

.button {
  display: flex;
  align-items: center;
  gap: R.rem(16px);

  font-size: R.rem(24px);
  line-height: R.rem(48px);
  font-weight: 400;

  cursor: pointer;

  @include themes.theme {
    color: themes.global('secondaryColor');
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  width: R.rem(32px);
  height: R.rem(32px);

  @include themes.theme {
    color: themes.global('primaryColor');
    background-color: themes.global('secondaryColor');
  }
}

.language {
  font-size: R.rem(18px);
  font-weight: 400;
  text-transform: capitalize;
}

