@use 'src/shared/view/styles/themes';
@use 'src/shared/view/styles/webkit-scrollbar' as S;
@use 'src/shared/view/styles/devices' as D;
@use 'src/shared/view/styles/responsive' as R;

.root {
  @include S.scrollbar-hidden;

  position: relative;

  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  display: grid;
  grid-template-rows: max-content auto;

  overflow-x: hidden;
  overflow-y: auto;

  @include D.mobile {
    display: flex;
    flex-flow: column;
    grid-template-rows: none;

    .main {
      flex: 1;

      max-width: none;
      min-height: auto;

      margin-top: 0;
      margin-bottom: 0
    }
  }

  height: 100%;
}

.main {
  width: 100%;
  margin: 0;
  padding: 0 R.rem(20px);

  @include D.desktop {
    height: 100%;
    padding: 0 R.rem(48px);
  };
}

.content {
  display: flex;
  flex-direction: column;
  gap: R.rem(64px);

  padding-bottom: R.rem(124px + 32px);

  @include D.mobile {
    align-items: center;
  }

  @include D.desktop {
    flex-direction: row;
    gap: R.rem(128px);

    padding: 0 R.rem(48px) R.rem(100px + 48px);
  }
}

.column {
  position: relative;

  max-width: R.rem(370px);

  display: grid;
  justify-items: center;
  gap: R.rem(32px);

  &:first-child {
    &::after {
      content: "";

      position: absolute;

      border-radius: 1px;

      @include themes.theme {
        background-color: themes.global('secondaryColor');
      }

      @include D.mobile {
        left: 0;
        bottom: R.rem(-32px);

        width: 100%;
        height: 1px;
      }

      @include D.desktop {
        right: R.rem(-64px);
        top: 0;

        height: 100%;
        width: 1px;
      }
    }
  }

  &:last-child {
    align-self: center;
  }

  @include D.desktop {
    gap: R.rem(40px);
  }
}

.message-title {
  padding: 0;
  margin: 0;

  font-size: R.rem(22px);
  line-height: R.rem(30px);
  letter-spacing: R.rem(1px);
  font-weight: 400;

  text-align: center;

  @include D.desktop {
    font-size: R.rem(28px);
    line-height: R.rem(38px);
  }
}

.results {
  display: flex;
  flex-direction: column;

  border-radius: R.rem(8px);

  max-width: R.rem(335px);

  font-size: R.rem(16px);
  line-height: R.rem(20px);
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;

  @include themes.theme {
    border: 1px solid themes.global('secondaryColor');
  }
}

.results-icon {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: R.rem(36px);
  height: R.rem(36px);

  border-radius: 50%;

  @include themes.theme {
    border: 1px solid themes.global('secondaryColor');
  }
}

.results-item {
  padding: R.rem(16px);

  display: flex;
  align-items: center;
  gap: R.rem(16px);

  &:not(:last-child) {
    @include themes.theme {
      border-bottom: 1px solid themes.global('secondaryColor');
    }
  }
}

.results-amount {
  margin-left: auto;
}

.pagination {
  display: grid;
  gap: R.rem(8px);
  grid-template-columns: repeat(5, 1fr);
}

.buttons {
  display: flex;
  gap: R.rem(16px);
}

.button {
  flex-shrink: 0;
  width: auto;
}

.icon {
  display: flex;
  justify-content: center;

  @include D.desktop {
    position: absolute;
    right: R.vw(96px);
    top: R.rem(160px + 64px);
  }
}
