@use 'src/shared/view/styles/colors';
@use 'src/shared/view/styles/themes';
@use 'src/shared/view/styles/devices' as D;
@use 'src/shared/view/styles/responsive' as R;

.root {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: R.rem(16px) R.rem(32px);

  @include themes.theme {
    background-color: themes.global('primaryColor');
    box-shadow: 0 1px 0 0 themes.global('secondaryColor');
  }

  @include D.mobile {
    padding: R.rem(16px) R.rem(20);
  }
}

.main-nav {
  margin-left: auto;
}

.m-main-nav {
  @include themes.theme {
    background: themes.global('primaryColor');
  }
}

.burger-button {
  display: flex;

  min-width: auto;
  height: fit-content;

  cursor: pointer;

  @include themes.theme {
    color: themes.global('secondaryColor');
  }
}
