@use 'src/shared/view/styles/themes';
@use 'src/shared/view/styles/responsive' as R;

.root {
  font-size: R.rem(16px);
  font-weight: 400;
  line-height: R.rem(20px);
  letter-spacing: R.rem(1px);

  @include themes.theme {
    color: themes.global('secondaryColor');
  }
}

.language {
  font-weight: 400;
  text-transform: capitalize;
}
