@use 'src/shared/view/styles/colors';
@use 'src/shared/view/styles/themes';
@use 'src/shared/view/styles/responsive';

.root {
  display: grid;
  align-items: center;
  gap: responsive.rem(16px);

  &.vertical {
    grid-auto-flow: row;
  }

  &.horizontal {
    grid-auto-flow: column;
  }
}
