@use 'src/shared/view/styles/themes';
@use 'src/shared/view/styles/colors';
@use 'src/shared/view/styles/hover';
@use 'src/shared/view/styles/devices' as D;
@use 'src/shared/view/styles/responsive' as R;

.root {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-radius: R.rem(8px);

  padding: R.rem(4px) 0;
  gap: R.rem(8px);

  cursor: pointer;

  background: none;

  @include hover.hover {
    color: colors.$iridium;
    background-color: colors.$light-yellow;
  }

  @include D.desktop {
    padding: R.rem(8px) 0;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: R.rem(36px);
  height: R.rem(36px);

  border-radius: 50%;

  @include D.desktop {
    width: R.rem(40px);
    height: R.rem(40px);
  }

  @include themes.theme {
    color: themes.global('primaryColor');
    background-color: themes.global('secondaryColor');
  }
}

.svg {
  font-size: R.rem(22px);

  @include D.desktop {
    font-size: R.rem(24px);
  }
}

.address {
  margin: 0;

  font-size: R.rem(16px);
  font-weight: 400;
  line-height: R.rem(24px);
  letter-spacing: R.rem(1px);

  overflow: hidden;
  text-overflow: ellipsis;

  @include D.desktop {
    font-size: R.rem(20px);
    line-height: R.rem(28px);
  }
}
