@use 'src/shared/view/styles/colors';
@use 'src/shared/view/styles/themes';
@use 'src/shared/view/styles/devices' as D;
@use 'src/shared/view/styles/responsive' as R;

.root {
  width: R.rem(300px);
  height: R.rem(192px);

  @include themes.theme {
    color: themes.global('secondaryColor');
  }

  @include D.desktop-max-height {
    width: R.vh(300px);
    height: R.vh(192px);
  }
}

.svg {
  width: 100%;
  height: 100%;
}

.line {
  transform-origin: 50% 81%;
  transition: transform 0.25s ease-out;
}
