@use 'src/shared/view/styles/webkit-scrollbar' as S;

.root {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;

  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  @include S.scrollbar-hidden;
}
