@use 'src/shared/view/styles/themes';
@use 'src/shared/view/styles/colors';
@use 'src/shared/view/styles/hover';
@use 'src/shared/view/styles/webkit-scrollbar' as S;
@use 'src/shared/view/styles/responsive' as R;
@use 'src/shared/view/styles/devices' as D;

.root {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;

  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  @include S.scrollbar-hidden;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;

  width: 100%;
}

.close-wrapper,
.logo-wrapper {
  position: fixed;
  top: R.rem(30px);
}

.logo-wrapper {
  left: R.rem(32px);
}

.close-wrapper {
  right: R.rem(32px);
}

.main {
  position: relative;
  z-index: 10;

  min-height: 100%;
}

.content {
  padding-bottom: R.rem(80px);

  @include D.desktop {
    padding: R.rem(42px) R.rem(64px + 48px);
    margin: 0 auto;

    max-width: R.rem(1152px + 128px + 96px + 16px);
  }
}

.footer {
  position: relative;
  z-index: 10;

  padding: R.rem(20px) R.rem(30px);
  margin: 0;

  display: flex;
  gap: R.rem(24px);

  width: 100%;

  @include D.mobile {
    padding: R.rem(24px) R.rem(20px);

    flex-direction: column;
    justify-content: flex-start;
  }

  @include D.desktop {
    position: fixed;
    left: 0;
    bottom: 0;

    align-items: center;
    justify-content: space-between;

    @include themes.theme {
      box-shadow: 0 -1px 0 0 themes.global('secondaryColor');
    }
  }

  @include themes.theme {
    color: themes.global('secondaryColor');
    background-color: themes.global('primaryColor');
  }
}

.button-wrapper {
  min-width: R.rem(260px);
}

.timer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;

  @include D.desktop {
    min-width: R.rem(300px);
  }
}
