@use 'src/shared/view/styles/themes';
@use 'src/shared/view/styles/colors';
@use 'src/shared/view/styles/hover';
@use 'src/shared/view/styles/responsive' as R;
@use 'src/shared/view/styles/variables' as V;
@use 'src/shared/view/styles/devices' as D;

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: R.rem(20px);

  padding: R.rem(20px) R.rem(4px);

  font-size: R.rem(14px);
  line-height: R.rem(20px);
  letter-spacing: R.rem(1px);
  font-weight: 400;

  text-transform: uppercase;

  @include D.mobile {
    gap: R.rem(32px);
    font-size: R.rem(12px);
  }

  @include hover.hover {
    @include themes.theme {
      color: colors.$iridium;
      background-color: themes.global('lightYellowColor');
    }
  }


  @include themes.theme {
    color: themes.global('secondaryColor');
  }
}

.name {
  margin: 0;

  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
}

.questionsWrapper {
  flex-shrink: 0;
}

.questions {
  margin: 0;
}
